In [2]:
#建立data為2維的堆疊資料
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.365841
   2   -0.922466
   3   -1.102686
b  1    0.100126
   2   -1.093905
c  3   -0.575493
   1   -1.032157
d  2    1.762457
   3   -2.269740
dtype: float64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
#2維的表格資料，將長的資料轉換成寬的資料時，有可能會出現空的資料
data.unstack()

          1         2         3
a -0.365841 -0.922466 -1.102686
b  0.100126 -1.093905       NaN
c -1.032157       NaN -0.575493
d       NaN  1.762457 -2.269740

In [13]:
data.index.names = ['分類','數值']
data

分類  數值
a   1    -0.365841
    2    -0.922466
    3    -1.102686
b   1     0.100126
    2    -1.093905
c   3    -0.575493
    1    -1.032157
d   2     1.762457
    3    -2.269740
dtype: float64

In [14]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1  -0.365841  0.100126 -1.032157       NaN
2  -0.922466 -1.093905       NaN  1.762457
3  -1.102686       NaN -0.575493 -2.269740

In [15]:
data.unstack(level='數值')

數值         1         2         3
分類
a  -0.365841 -0.922466 -1.102686
b   0.100126 -1.093905       NaN
c  -1.032157       NaN -0.575493
d        NaN  1.762457 -2.269740