In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randn(5),
                   'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.151165 -0.149907
1    a  two -1.593305 -0.436411
2    b  one  1.151258  2.144132
3    b  two -0.448930 -1.560584
4    a  one  0.946611  0.264104

In [6]:
df1 = df.groupby(by=['key1','key2']).sum()
df1

              data1     data2
key1 key2
a    one   1.097776  0.114196
     two  -1.593305 -0.436411
b    one   1.151258  2.144132
     two  -0.448930 -1.560584